@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;700&family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  text-decoration: none;
  color: #fff;
}

body {
  margin: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: 0 auto;
}

header .logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .logo img {
  height: 100px;
}

header .header-content {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
}

header .header-content .upper {
  text-align: center;
  font-size: 20px;
}

header .header-content .lower ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #fa4242;
  padding: 10px 0;
}

header .header-content .lower ul li {
  list-style: none;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
}

.parrafo-header {
  background-color: #3955e9;
  text-align: center;
}

.parrafo-header p {
  color: #fff;
  font-family: "Rouge Script", cursive;
  font-size: 40px;
  margin: 0;
  padding: 5px 0;
}

.image-inicio {
  width: 100%;
}

.image-inicio img {
  width: 100%;
}

.actividades .box-barra {
  width: 620px;
}

.actividades .box-barra h2 {
  text-align: center;
  margin-bottom: 4px;
  font-weight: 500;
}

.actividades .box-barra .barra {
  width: 620px;
  height: 10px;
  background: #3955e9;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#fa4242), to(#3955e9));
  background: linear-gradient(to right, #fa4242, #3955e9);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.actividades .box-actividades {
  width: 85%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 60px;
}

.actividades .box-actividades .card {
  width: 27%;
  border: 1px solid #3955e9;
  border-radius: 10px;
  padding: 0 10px;
  text-align: center;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.actividades .box-actividades .card .img img {
  padding: 10px;
  height: 80px;
}

.actividades .box-actividades .card h3 span {
  color: #3955e9;
  font-weight: 500;
}

.actividades .box-actividades .card p {
  display: none;
  margin: 0;
}

.actividades .box-actividades .card:hover {
  background-color: #fa4242;
  padding: 20px 10px;
}

.actividades .box-actividades .card:hover h3 {
  display: none;
}

.actividades .box-actividades .card:hover p {
  display: block;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #fa4242;
  padding-top: 20px;
}

footer .imagen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .imagen img {
  height: 120px;
}

footer .contactos {
  color: #fff;
}

footer .contactos h3 {
  text-align: center;
  font-size: 24px;
  margin: 0;
}

footer .facebook {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .facebook img {
  height: 40px;
}

a {
  text-decoration: none;
  color: #fff;
}

.imagen-bondad {
  text-align: center;
  margin-top: 20px;
}

.imagen-bondad .text-bondad {
  background-color: #e2d6d6;
  padding: 10px 0;
}

.imagen-bondad .text-bondad h3 {
  color: #fa4242;
  margin: 0;
  font-weight: 500;
}

.imagen-bondad .text-bondad p {
  margin: 0;
  font-weight: 200;
}

.imagen-bondad img {
  width: 100%;
}

.bondad-centro h3 {
  color: #3955e9;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}

.bondad-centro .cajas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.bondad-centro .cajas .caja {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bondad-centro .cajas .caja img {
  width: 70%;
  margin: 0 auto;
}

.bondad-centro .cajas .caja h4 {
  color: #3955e9;
  text-align: center;
  font-weight: 500;
}

.bondad-centro .cajas .caja h4 span {
  display: block;
}

.bondad-centro .cajas .caja p {
  text-align: center;
  font-weight: 200;
  width: 100%;
  margin: 0 auto;
}

.labor {
  margin: 40px 0;
}

.labor .caja {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.labor .caja .text-caja {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.labor .caja .text-caja h3 {
  text-align: center;
  color: #fa4242;
}

.labor .caja .text-caja P {
  text-align: justify;
  width: 80%;
  margin: 0 auto;
}

.labor .caja img {
  width: 50%;
}

.labor .comedor {
  background-color: #676fa3;
}

.labor .internado {
  background-color: #cddeff;
}

.labor .juventud {
  background-color: #eef2ff;
}

.box-barra {
  width: 620px;
}

.box-barra h2 {
  text-align: center;
  margin-bottom: 4px;
  font-weight: 500;
}

.box-barra .barra {
  width: 620px;
  height: 10px;
  background: #3955e9;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#fa4242), to(#3955e9));
  background: linear-gradient(to right, #fa4242, #3955e9);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/*# sourceMappingURL=bondades.css.map */