@import "./bondades.scss";

a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  color: $color-azul;
}
.centro {
  width: 100%;
  margin: 0 auto;
  .barra {
    margin: 0 auto;
  }
}
.historia {
  ul {
    display: flex;
    flex-direction: column;

    li {
      display: none;
    }
  }
}

.historia:hover {
  li {
    display: block;
  }
}

.caja-historia {
  display: flex;
  width: 90%;
  margin: 40px auto;
  .texto {
    flex: 4;
    text-align: justify;
    background-color: #f5dede;
    padding: 3rem;
    position: relative;

    span {
      color: transparent;
      position: absolute;
      left: -100%;
      top: 0;
      transition: all 0.5s ease-in-out;
      overflow: hidden;
      width: 100%;
      height: 100%;
    }
    p:hover {
      color: transparent;
      span {
        color: #333;
        left: 0;
        padding: 3rem;
      }
    }
  }
  .imagen {
    flex: 2;
    width: 20%;
    display: flex;
    flex-direction: column;
    .texto-imagen {
      text-align: center;
      h2 {
        span {
          display: block;
        }
      }
    }
    img {
      width: 60%;
      margin: 0 auto;
    }
  }
}
.caja-azul {
  background-color: #cbd8ec !important;
}

button {
  width: 23%;
  height: 120px;
  border: 1px solid #59b224;
  background-color: #fff;
  font-weight: 500;
  border-radius: 10px;
  font-size: 1rem;
  overflow: hidden;
  position: relative;
  cursor: pointer;

  span {
    width: 100%;
    height: 100%;
    background-size: 10px 5px;
    color: var(--color-amarillo);
    background-color: #60f80849;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -100%;
    top: 0;
    transition: all 0.1s ease-in-out;
    overflow: hidden;
    img {
      width: 80px;
      height: 80px;
      object-fit: cover;
    }
  }
  &:hover {
    color: transparent;
    span {
      left: 0;
    }
  }
}
