@import "./historia.scss";

.imagen-origen {
  width: 60%;
  display: flex;
  margin: 30px auto;
  img {
    width: 100%;
    margin: 0 auto;
  }
}
.parrafo-origen {
  width: 80%;
  margin: 0 auto;
  text-align: justify;
}

.organizacion {
  margin-top: 40px;

  .integrantes {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
    .box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      img {
        height: 180px;
      }
      p {
        margin: 0;
      }
      & p:nth-child(4) {
        font-size: 13px;
      }
      .p-1 {
        color: $color-azul;
        font-weight: 500;
      }
      .p-2 {
        color: $color-rojo;
        font-weight: 700;
      }
    }
  }
}
