@import "./inicio.scss";

h3 {
  margin: 0;
}
.valores {
  width: 80%;
  margin: 0 auto;

  .mision {
    display: flex;
    .descripcion {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      //   padding: 0 40px;
      p {
        text-align: justify;
      }
    }
    .imagen {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        height: 400px;
      }
    }
  }
  .vision {
    display: flex;
    .descripcion {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      //   padding: 0 80px;
      p {
        text-align: justify;
      }
    }
    .imagen {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        height: 400px;
      }
    }
  }
}
.red-administrativa {
  .box-barra {
    width: 620px;

    h2 {
      text-align: center;
      margin-bottom: 4px;
      font-weight: 500;
    }
    .barra {
      width: 620px;
      height: 10px;
      background: $color-azul; /* fallback for old browsers */
      background: -webkit-linear-gradient(
        to right,
        $color-rojo,
        $color-azul
      ); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
        to right,
        $color-rojo,
        $color-azul
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
  }
  .organizacion {
    margin-top: 40px;
    .directora {
      display: flex;
      align-items: center;
      justify-content: center;
      .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {
          height: 180px;
        }
        p {
          margin: 0;
        }
        & p:nth-child(4) {
          font-size: 13px;
        }
        .p-1 {
          color: $color-azul;
          font-weight: 500;
        }
        .p-2 {
          color: $color-rojo;
          font-weight: 700;
        }
      }
    }
    .subdirectora {
      display: flex;
      justify-content: space-around;
      margin-bottom: 40px;
      .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {
          height: 180px;
        }
        p {
          margin: 0;
        }
        & p:nth-child(4) {
          font-size: 13px;
        }
        .p-1 {
          color: $color-azul;
          font-weight: 500;
        }
        .p-2 {
          color: $color-rojo;
          font-weight: 700;
        }
      }
    }
  }
}
